<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between item-center">
    <ul class="flex space-x-4">
      <li>
        <a href="/" class="hover:bg-red-400 py-2 px-4 rounded transition duration-300">
          Airbnb
        </a>
      </li>

      <li>
        <a href="/homes" class="hover:bg-red-400 py-2 px-4 rounded transition duration-300">
          Homes
        </a>
      </li>
      <li>
        <a href="/favrouiteList" class="hover:bg-red-400 py-2 px-4 rounded transition duration-300">
          favourites
        </a>
      </li>
      <li>
        <a href="/booking" class="hover:bg-red-400 py-2 px-4 rounded transition duration-300">
          Booking
        </a>
      </li>
      <li>
        <a href="/hostHomelist" class="hover:bg-red-400 py-2 px-4 rounded transition duration-300">
          Host Home
        </a>
      </li>
      <li>
        <a href="/host/add-home" class="hover:bg-red-400 py-2 px-4 rounded transition duration-300">
          Add Home
        </a>
      </li>

    </ul>
  </nav>

</header>